<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />        
    <title>Código de Ética</title>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    <link href="../styles/styles.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container px-5">
          <a class="navbar-brand" href="../index.html">Banco Futuro</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item"><a class="nav-link" href="registro.html">Regístrate</a></li>
                  <li class="nav-item"><a class="nav-link" href="ingreso.html">Ingresa</a></li>
              </ul>
          </div>
      </div>
    </nav>

    <header class="masthead text-center text-white pt-6 pb-6">
      <div class="masthead-content">
          <div class="container">
              <h1 class="masthead-heading mb-0">Código de Ética<h1>
          </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12 order-lg-1">
                    <div class="pt-5 text-justify">
                        <p>El <b>Banco Futuro</b> se compromete a ser una institución líder en la provisión de servicios financieros accesibles y responsables.
                            Nuestra misión es ofrecer soluciones bancarias innovadoras que permitan a nuestros clientes alcanzar sus metas financieras con confianza y seguridad.
                            Este Código de Ética establece los principios y valores que guían nuestras acciones y decisiones, asegurando que operemos con integridad, transparencia y responsabilidad en todas nuestras actividades.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="../assets/img/04.jpeg"/></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Integridad y transparencia</h2>
                        <p>En el Banco Futuro, creemos que la integridad es la base de todas nuestras operaciones.
                            Nos comprometemos a actuar de manera honesta y transparente en todas nuestras interacciones con clientes, empleados, accionistas y la comunidad en general.</p>
                        <p><b>Honestidad:</b> Nos esforzamos por ser sinceros en todas nuestras comunicaciones y transacciones, proporcionando información clara y precisa sobre nuestros productos y servicios.</p>
                        <p><b>Transparencia:</b> Garantizamos que todas nuestras operaciones sean abiertas y accesibles para nuestros clientes, permitiéndoles tomar decisiones informadas sobre sus finanzas.</p>
                        <p><b> Responsabilidad:</b> Asumimos la responsabilidad de nuestras acciones y decisiones, y nos comprometemos a rectificar cualquier error de manera oportuna y adecuada.</p></ul>
                            
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="../assets/img/05.jpeg"/></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Responsabilidad social</h2>
                        <p>El <b>Banco Futuro</b> está comprometido con el bienestar de la sociedad y el medio ambiente.
                            Creemos que es nuestro deber contribuir positivamente a la comunidad y actuar de manera sostenible.</p>
                        <p><b>Sostenibilidad Ambiental:</b> Implementamos prácticas que minimizan nuestro impacto ambiental, promoviendo el uso responsable de los recursos naturales y apoyando iniciativas ecológicas.</p>
                        <p><b>Compromiso Comunitario:</b> Participamos activamente en programas y proyectos que benefician a las comunidades locales, fomentando el desarrollo social y económico.</p>
                        <p><b>Ética Empresarial:</b> Nos aseguramos de que nuestras prácticas comerciales sean justas y equitativas, respetando los derechos de todas las partes interesadas.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="../assets/img/06.jpeg"/></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Equidad e inclusión</h2>
                        <p>En el Banco Futuro, valoramos la diversidad y la inclusión.
                            Creemos que todos nuestros clientes y empleados deben ser tratados con respeto y dignidad, sin importar su origen, género, religión, orientación sexual o cualquier otra característica personal.</p>

                        <p><b>Diversidad:</b> Fomentamos un entorno inclusivo donde se valora y respeta la diversidad de pensamientos, experiencias y antecedentes.</p>
                        <p><b>Igualdad de Oportunidades:</b> Proporcionamos igualdad de oportunidades en el acceso a nuestros servicios y en nuestras políticas de empleo, asegurando que todos tengan la posibilidad de crecer y prosperar.</p>
                        <p><b>Respeto y Dignidad:</b> Nos comprometemos a tratar a todos nuestros clientes y empleados con respeto, promoviendo un ambiente de trabajo y de servicio libre de discriminación y acoso.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="py-5 bg-gradient footer">
      <div class = "footer-left">
          <a href="https://www.facebook.com " target="_blank">
              <i class="fa-brands fa-square-facebook fa-xl icon" title = "Facebook"></i>
          </a>
          <a href="https://www.x.com" target="_blank">
              <i class="fa-brands fa-twitter fa-xl icon" title = "Twitter"></i>
          </a>
          <a href="https://www.instagram.com" target="_blank">
              <i class="fa-brands fa-instagram fa-xl icon" title = "Instagram"></i>
          </a>
          <a href="https://www.linkedin.com" target="_blank">
              <i class="fa-brands fa-linkedin fa-xl icon" title = "LinkedIn"></i>
          </a>
      </div>
      <div class = "text-center footer-center">
          <p class="m-0 text-white center">Copyright &copy; Universidad de Antioquia</p>
      </div>
      <div class = "footer-right">
          <a href = "#page-top">
              <i class="fa-solid fa-scale-balanced fa-xl icon" title = "Código de ética"></i>
          </a>
          <a href = "tyc.html">
              <i class="fa-solid fa-landmark fa-xl icon" title = "Términos y condiciones"></i>
          </a>
      </div>
  </footer>
  </body>
</html>