<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Registro</title>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    <link href="../styles/styles.css" rel="stylesheet" />
    <script src="../js/scripts.js"></script>
  </head>
  
  <body id = "page-top">
    <div class = "two-sections-container overflow-hidden">

    <div class = "left-container">
      <header class="masthead text-center text-white pt-5 pb-5 vh-100">
        <div class="masthead-content">
          <div class="px-5 mx-5 mt-0">
              <div class = "fill"><img src = "../assets/img/logo.png"></div>
              <div class="masthead-subheading mb-0 fs-1 mx-5" style = "line-height: 1.2;">Pasa y recibe dinero sin ningún apuro</div>
              <h2 class="masthead-subheading mb-0 text-white-75">BANCO FUTURO</h2>
          </div>
      </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
      </header>
    </div>

    <div class = "right-container">
      <div class="container">
        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <h3 class="panel-title fw-seminormal">Registro</h3>
            </div>
            <div class="panel-body">
              <form role="form">
                <div class="row">
                  <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="first_name" id="first_name" required class="form-control" placeholder="Nombre" tabindex="1">
                    </div>
                  </div>
                    <div class=" col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="text" name="last_name" id="last_name" required class="form-control " placeholder="Apellido" tabindex="2">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" name="user_name" id="user_name" required class="form-control " placeholder="Nombre de usuario" tabindex="3">
                  </div>
                  <div class="form-group">
                    <input type="number" name="user_phone" id="user_phone" required class="form-control " placeholder="Teléfono" tabindex="4">
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" id="email" required class="form-control" placeholder="Email" tabindex="5">
                  </div>
                  <div class="row">
                    <div class=" col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="password" name="password" id="password" required class="form-control " placeholder="Contraseña" tabindex="6">
                      </div>
                    </div>
                    <div class=" col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="password" name="password_confirmation" required id="password_confirmation" class="form-control " placeholder="Confirmar contraseña" tabindex="7">
                      </div>
                    </div>
                  </div>
                  <div class = "text-center">
                    <button type="submit" class = "btn btn-primary rounded-pill" onclick="registerUser()">Regístrate</button>
                  </div>
                  <hr style= "margin-top: 0.9rem; margin-bottom: 0.4rem;" >
                  <div class="form-group">
                  <div class = "text-center fs-5" style = "color: #6C757D">¿Ya tienes cuenta?</div>
                  <div class = "text-center"style= "margin-top:0.4rem; margin-bottom:0.4rem;">
                    <a href="ingreso.html"><div class = "btn btn-primary rounded-pill">Inicia sesión</div></a>
                  </div>
                  </div>
                </div> 
              </form>
            </div>
            <a href = "../index.html"><div class = "btn btn-secondary float-end">Página principal</div></a>
          </div>
        </div>
      </div>
    </div>

    </div>
  </body>
</html>