<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Términos y condiciones</title>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    <link href="../styles/styles.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container px-5">
          <a class="navbar-brand" href="../index.html">Banco Futuro</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item"><a class="nav-link" href="registro.html">Regístrate</a></li>
                  <li class="nav-item"><a class="nav-link" href="ingreso.html">Ingresa</a></li>
              </ul>
          </div>
      </div>
    </nav>

    <header class="masthead text-center text-white pt-6 pb-6">
      <div class="masthead-content">
          <div class="container">
              <h1 class="masthead-heading mb-0">Términos y condiciones<h1>
          </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12 order-lg-1">
                    <div class="pt-5 text-justify">
                        <h2 class="display-4">1. Introducción</h2>
                        <p>Bienvenido a <b>Banco Futuro</b>. Estos Términos y Condiciones de Uso (en adelante, los "Términos") regulan el acceso y uso de los servicios ofrecidos por Banco Futuro (en adelante, el "Banco").
                            Al acceder o utilizar nuestros servicios, usted acepta cumplir con estos Términos. Si no está de acuerdo con ellos, le recomendamos no utilizar nuestros servicios.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12 order-lg-1">
                    <div class="pt-5 text-justify">
                        <h2 class="display-4">2. Definiciones</h2>
                        <p><b>Usuario:</b> Persona que accede y utiliza los servicios ofrecidos por el Banco.</p>
                        <p><b>Servicios:</b> Todos los productos y servicios financieros ofrecidos por el Banco, incluyendo pero no limitándose a cuentas bancarias, préstamos, tarjetas de crédito y servicios digitales.</p>
                        <p><b>Plataforma:</b> El sitio web, aplicaciones móviles y cualquier otro medio digital proporcionado por el Banco para acceder a los servicios.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12 order-lg-1">
                    <div class="pt-5 text-justify">
                        <h2 class="display-4">3. Acceso y uso de los Servicios</h2>
                        <p><b>Registro:</b> Para utilizar algunos de nuestros servicios, es necesario registrarse proporcionando información veraz y actualizada. Usted es responsable de mantener la confidencialidad de su cuenta y contraseña.</p>
                        <p><b>Uso Aceptable:</b> Usted se compromete a utilizar nuestros servicios únicamente con fines legales y de acuerdo con estos Términos. Está prohibido el uso de los servicios para actividades fraudulentas, ilícitas o que infrinjan los derechos de terceros.</p>
                        <p><b>Disponibilidad de Servicios:</b> El Banco se esfuerza por mantener la disponibilidad de los servicios, pero no garantiza que estarán disponibles en todo momento y sin interrupciones. Nos reservamos el derecho de modificar, suspender o descontinuar cualquier servicio en cualquier momento sin previo aviso.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12 order-lg-1">
                    <div class="pt-5 text-justify">
                        <h2 class="display-4">4. Privacidad y seguridad</h2>
                        <p><b>Protección de Datos:</b> La privacidad de nuestros usuarios es fundamental. Por favor, consulte nuestra Política de Privacidad para entender cómo recopilamos, usamos y protegemos su información personal.</p>
                        <p><b>Seguridad:</b> Implementamos medidas de seguridad razonables para proteger la información de nuestros usuarios. Sin embargo, no podemos garantizar la seguridad absoluta de los datos transmitidos a través de Internet.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12 order-lg-1">
                    <div class="pt-5 text-justify">
                        <h2 class="display-4">5. Responsabilidades del usuario</h2>
                        <p><b>Información Veraz:</b> Usted se compromete a proporcionar información precisa y actualizada durante el registro y el uso de los servicios.</p>
                        <p><b>Uso Responsable:</b> Usted es responsable del uso que haga de su cuenta y de todas las actividades que ocurran bajo su cuenta. Notifique de inmediato al Banco sobre cualquier uso no autorizado o violación de seguridad.</p>
                        <p><b>Cumplimiento Legal:</b> Usted se compromete a cumplir con todas las leyes y regulaciones aplicables al usar nuestros servicios.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12 order-lg-1">
                    <div class="pt-5 text-justify">
                        <h2 class="display-4">6. Propiedad intelectual</h2>
                        <p><b>Derechos del Banco:</b> Todos los contenidos, marcas, logotipos y otros derechos de propiedad intelectual en la Plataforma y los servicios son propiedad exclusiva del Banco o sus licenciantes. Usted no tiene derecho a usar estos elementos sin el consentimiento previo por escrito del Banco.</p>
                        <p><b>Contenido del Usuario:</b> Cualquier contenido que usted proporcione al Banco a través de los servicios sigue siendo de su propiedad, pero usted otorga al Banco una licencia mundial, no exclusiva, libre de regalías y transferible para usar dicho contenido en relación con la operación de los servicios.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12 order-lg-1">
                    <div class="pt-5 text-justify">
                        <h2 class="display-4">7. Limitación de responsabilidad</h2>
                        <p><b>Exclusión de Garantías:</b> Los servicios se proporcionan "tal cual" y "según disponibilidad". El Banco no ofrece garantías de ningún tipo, expresas o implícitas, sobre la precisión, fiabilidad o disponibilidad de los servicios.</p>
                        <p><b>Limitación de Daños:</b> En la medida máxima permitida por la ley aplicable, el Banco no será responsable de ningún daño indirecto, incidental, especial, consecuente o punitivo, incluyendo pérdida de beneficios, ingresos, datos o uso, incluso si el Banco ha sido advertido de la posibilidad de tales daños.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12 order-lg-1">
                    <div class="pt-5 text-justify">
                        <h2 class="display-4">8. Modificaciones de los Términos</h2>
                        <p>El Banco se reserva el derecho de modificar estos Términos en cualquier momento.
                            Cualquier cambio será efectivo inmediatamente después de su publicación en la Plataforma. Es su responsabilidad revisar periódicamente estos Términos para estar informado de cualquier modificación.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12 order-lg-1">
                    <div class="pt-5 text-justify">
                        <h2 class="display-4">9. Ley Aplicable y Jurisdicción</h2>
                        <p class = "pb-4">Estos Términos se regirán e interpretarán de acuerdo con las leyes del país en el que se encuentre la sede principal del Banco.
                            Cualquier disputa relacionada con estos Términos estará sujeta a la jurisdicción exclusiva de los tribunales de dicha jurisdicción.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="py-5 bg-gradient footer">
      <div class = "footer-left">
          <a href="https://www.facebook.com " target="_blank">
              <i class="fa-brands fa-square-facebook fa-xl icon" title = "Facebook"></i>
          </a>
          <a href="https://www.x.com" target="_blank">
              <i class="fa-brands fa-twitter fa-xl icon" title = "Twitter"></i>
          </a>
          <a href="https://www.instagram.com" target="_blank">
              <i class="fa-brands fa-instagram fa-xl icon" title = "Instagram"></i>
          </a>
          <a href="https://www.linkedin.com" target="_blank">
              <i class="fa-brands fa-linkedin fa-xl icon" title = "LinkedIn"></i>
          </a>
      </div>
      <div class = "text-center footer-center">
          <p class="m-0 text-white center">Copyright &copy; Universidad de Antioquia</p>
      </div>
      <div class = "footer-right">
          <a href = "etica.html">
              <i class="fa-solid fa-scale-balanced fa-xl icon" title = "Código de ética"></i>
          </a>
          <a href = "#page-top">
              <i class="fa-solid fa-landmark fa-xl icon" title = "Términos y condiciones"></i>
          </a>
      </div>
    </footer>
  </body>
</html>